.logout-container {
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    text-align: right;
}

.logout-button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #ff4d4f;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }
  
  .logout-button:hover {
    background-color: #e04344;
  }